In [36]:
import pandas as pd

In [31]:
all_files = [
    r"D:\Documents\LearnOnline\edx\DataEngineering\PythonBasicsforDataScience\practice_notebook\data_50000001_50002415.csv",
    r"D:\Documents\LearnOnline\edx\DataEngineering\PythonBasicsforDataScience\practice_notebook\data_50002416_50005000.csv",
    r"D:\Documents\LearnOnline\edx\DataEngineering\PythonBasicsforDataScience\practice_notebook\data_50005001_50006000.csv",
    r"D:\Documents\LearnOnline\edx\DataEngineering\PythonBasicsforDataScience\practice_notebook\data_50006001_50010000.csv",
    r"D:\Documents\LearnOnline\edx\DataEngineering\PythonBasicsforDataScience\practice_notebook\data_50010001_50014843.csv",
    r"D:\Documents\LearnOnline\edx\DataEngineering\PythonBasicsforDataScience\practice_notebook\data_50014844_50015099.csv",
]

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [34]:
frame.drop(columns=['Unnamed: 0'], inplace=True)

In [35]:
frame.to_csv('data.csv', index=False)

In [46]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15025 entries, 0 to 15024
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SBD        15025 non-null  int64
 1   Toán       14853 non-null  float64
 2   Văn        14858 non-null  float64
 3   Sử         8951 non-null   float64
 4   Địa        8870 non-null   float64
 5   Ngoại ngữ  13628 non-null  float64
 6   GDCD       7730 non-null   float64
 7   Lí         5968 non-null   float64
 8   Hóa        6027 non-null   float64
 9   Sinh       5951 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 1.1 MB

In [45]:
frame.describe()

,SBD,Toán,Văn,Sử,Địa,Ngoại ngữ,GDCD,Lí,Hóa,Sinh
count,1.502500e+04,14853.000000,14858.000000,8951.000000,8870.000000,13628.000000,7730.000000,5968.000000,6027.000000,5951.000000
mean,5.000755e+07,6.484939,6.637330,6.422104,6.784583,4.986161,8.203978,6.399087,6.647793,5.293480
std,4.364104e+03,1.441157,1.078838,1.490112,1.097619,1.627674,0.936732,1.312090,1.434770,1.430215
min,5.000000e+07,0.800000,0.000000,1.750000,2.250000,1.000000,3.750000,1.500000,1.500000,1.250000
25%,5.000376e+07,5.600000,6.000000,5.500000,6.000000,3.800000,7.750000,5.500000,5.750000,4.250000
50%,5.000756e+07,6.600000,6.750000,6.500000,6.750000,4.800000,8.250000,6.500000,6.750000,5.250000
75%,5.001133e+07,7.600000,7.500000,7.500000,7.500000,6.000000,9.000000,7.250000,7.750000,6.250000
max,5.001510e+07,10.000000,9.500000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.750000